

  <div class="container">
    <div class="cardhome3">
        <div class="row">

            <div class="col-md-6">
<!-- 
                <center> -->
                    <h4 class="h" style="font-size:40px">Our Current Network and Services</h4>
                <!-- </center>
                <center> -->
                    <h6 class="h">Our Network is always with you</h6>
                <!-- </center> -->
                <img src="../../../assets/images/newair10.jpg" alt="" height="450px" width="450px"
                    style="border-radius:10%;margin-top:20px;margin-left: 40px">

            </div>
            <div class="col-md-6">
                <div class="cardhome4">
                    <!-- <center> -->
                        <h4 class="h" style="font-size:40px">Why Online reservation is beneficial?</h4>
                    <!-- </center>
                    <center> -->
                        <h6 class="h">Our Network is always with you</h6>
                    <!-- </center> -->
                    <div class="row" style="margin-top:30px">


                        <div class="col-md-5">

                            <img src="../../../assets/images/newair5.jpg" alt="" height="200px" width="200px" style="border-radius:10% ">


                        </div>
                        <div class="col-md-2"></div>
                        <div class="col-md-5">
                         
                            <img src="../../../assets/images/newair7.jpg" alt="" height="200px" width="200px" style="border-radius:10% ">
                        </div>

                        <div class="col-md-5" style="margin-top:20px ">
                            <img src="../../../assets/images/newair3.jpg" alt="" height="200px" width="200px" style="border-radius:10% ">
                        </div>
                        <div class="col-md-2"></div>
                        <div class="col-md-5" style="margin-top:20px">
                            <img src="../../../assets/images/newair12.jpg" alt="" height="200px" width="200px" style="border-radius:10% ">
                        </div>

                    </div>
                </div>
                <br><br> 
            </div>
            
            <h4 style="font-size:100%">
                If we look from the customer's end, an airline reservation system offers a customer with benefits
                like:
                Our Airline Reservation system is incorporated with the Direct channel management and global
                distribution system (GDS).
                With our Airline booking engine the end user will be able to view the booking details along side
                other information like fare, rules, luggage limit and more.
                <h4>
                    <ol>
                        <li>Quick flight booking facility</li>
                        <li> Enjoy luring discounts and offers</li>
                        <li>Immediate money return on cancellation</li>
                        <li>Saves a lot of time and energy</li>
                    </ol>
                  </h4>

                </h4>
        </div>
    </div>
    <br><br>

</div>




