<html>
<head>
<style>

</style>
</head>
<body>
<div class="image">
        <button (click)="onLogout()" style="margin-top: 20px; margin-right: 25px;" class="btn btn-info float-right">Logout</button>

    <h2 style="text-align: center; padding-top: 50px; font-weight: bolder;">ARS Admin Panel</h2>
<div class="margin" style="padding-left: 12%;">
    <!-- <img src="../../../assets/images/Screenshot.png" alt=""> -->
    <div class="gallery">
        <a class="nav-link" routerLink="/admin/user/user-list/" style="font-size :25px; margin-top: 50px; margin-left: 20px;">Users</a>
    </div>

    <div class="gallery">
        <a class="nav-link" routerLink="/admin/aircraft/aircraft-list/" style="font-size :25px; margin-top: 50px; margin-left: 20px;">Aircrafts</a>
    </div>
    
    <!-- <div class="gallery">
        <a class="nav-link" href="/home/admin/flights/flights-list/">Flights</a>
    </div> -->
    
    <div class="gallery">
        <a class="nav-link" routerLink="/admin/routes/routes-list/" style="font-size :25px; margin-top: 50px; margin-left: 20px;">Routes</a>
    </div>
    
    <div class="gallery">
        <a class="nav-link" routerLink="/admin/flight-schedule/schedule-list/" style="font-size :25px; margin-top: 50px; margin-left: 20px;">Flight Schedules</a>
    </div>
    
    <div class="gallery">
        <a class="nav-link" routerLink="/admin/airfare/airfare-list" style="font-size :25px; margin-top: 50px; margin-left: 20px;">Airfare</a>
    </div>
    
</div>


<div class="gallery">
    <a class="nav-link" routerLink="/admin/transaction/transaction-list" style="font-size :25px; margin-top:45px; margin-left: px;">Transactions</a>
</div> 

</div>


</body>
</html>